.contact_main {
  width: 100%;
}

.contact_main .contact_header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 85%;
}

.contact_header .contacts_icon {
  margin-top: 15px;
  margin-left: 4px;
}

.contact_header .edit_icon {
  margin-top: 15px;
  margin-right: 4px;
}

.contact_main .contact_avatar {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.contact_main .contact_avataritem {
  color: white;
  background-color: blue;
  width: 90px;
  height: 90px;
}

.content2 {
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: 35px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icons_group {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
.icons_groupavatar {
  background-color: #bcdfeb;
  width: 50px;
  height: 50px;
}

.content3 {
  width: 100%;
  color: blue;
  display: flex;
  justify-content: left;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.content5 {
  margin-left: 15px;
  margin-right: 15px;
}

.contact_main .divider_style {
  margin-top: 15px;
}

.content5 .delete_button {
  text-transform: none;
  background-color: blue;
  color: white;
}

.edit_dialog .error_style {
  color: red;
  font-size: 15px;
}

.edit_dialog .save_button {
  background-color: blue;
}

.edit_dialog .cancel_button {
  background-color: blue;
}

.delete_dialog .confirm_button {
  background-color: blue;
  color: white;
  text-transform: none;
}
