.add_class {
  margin-left: 18px;
  margin-right: 18px;
}

.add_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 60px;
}

.add_header .cancel_button {
  border-radius: 20px;
  text-transform: none;
  font-size: 85%;
  min-height: 8px;
  min-width: 80px;
}

.add_header .clear_button {
  border-radius: 20px;
  text-transform: none;
  font-size: 85%;
  min-height: 8px;
  min-width: 80px;
  margin-top: 17px;
}

.new_contact {
  margin-left: 3px;
}

.new_contact .new_contacttext {
  color: black;
  font-size: 30px;
}

.object .object1 {
  display: flex;
  justify-content: center;
}

.input_sizing {
  width: 100%;
  margin-top: 15px;
}

.errorstyle {
  color: red;
  font-size: 14px;
}

.input_width {
  width: 100%;
}

.ok_button {
  background-color: blue;
}

.input_sizing .submit_button {
  background-color: blue;
}
