.header {
  display: flex;
  justify-content: space-between;
}

.header .header_button {
  border-radius: 30px;
  text-transform: none;
  font-size: 85%;
  min-height: 8px;
  min-width: 110px;
}

.search_class .search_label {
  margin-left: 18px;
  color: black;
  font-size: 30px;
}

.search {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.search .search_input {
  background-color: white;
  color: blue;
  font-size: 18px;
  height: 40px;
  width: 100%;
  border: 0.6px solid blue;
  border-radius: 2px;
  padding: 2px 23px 2px 23px;
}

.search_input:hover,
.search_input:focus {
  border: 2px solid white;
  background-color: white;
}
