.contacts_header {
  background-color: white;
  color: blue;
  width: 100%;
  padding-left: 28px;
}

.listitem {
  width: 100%;
  height: 50px;
}
.content .subheader {
  padding-left: 30px;
  color: blue;
  font-weight: bolder;
  font-size: 15px;
}
